body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-header {
  background-color: #e2e8f0;
  padding: 20px 30px;
}

.app-body {
  background-color: #ffffff;
  padding: 30px;
  min-height: 500px;
}

.app-footer {
  background-color: #cbd5e1;
  padding: 20px 30px;
  font-weight: bold;
}

.app-header {
  background-color: #e2e8f0;
  padding: 20px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.app-header ul {
  display: flex;
  gap: 25px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.app-header a {
  text-decoration: none;
  color: #333;
}

.app-header a.active {
  font-weight: bold;
  text-decoration: underline;
}